.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 4%;
    background-color: black;
    color: white;
}

.navbar-brand{
    color: white;
}

.navbar-toggler{
    color: white;
}

.navbar-nav{
    gap: 30px;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.collapse{
    max-width: fit-content;
}

.navbar-search input{
    color: white;
    width: 500px;
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    border-radius: 50px;
    padding: 0.5% 3%;
}

.navbar-search input::placeholder{
    font-size: 0.8rem;
    opacity: 0.9;
}

.navbar-search .btn{
    color: #5bd1ff;
}

.navbar-search .btn:hover{
    color: crimson;
}

.nav-link:hover{
    color: #5bd1ff;
}

@media only screen and (max-width: 767px) {

    .navbar{
        padding: 3% 5%;
    }

    .navbar-nav{
        width: 100%;
        gap: 20px;
    }

    .navbar-toggler{
        border: none;
    }

    .collapse{
        min-width: 100%;
        text-align: center;
    }

    .navbar-search{
        display: inline;
        width: 100%;
    }
    .navbar-search input{
        width: calc(100% - 50px);
    }

    .navbar-search button{
        color: white;
    }

    .nav-item{
        /* padding: 0 15px; */
        color: white;
        border: 0.2px solid black;
        border-style: none none solid none;
        width: 100%;
        text-align: center;
    }

  }
